.column {
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  display: flex;
}

@media (orientation: landscape) {
  .column {
    float: left;
    width: 33%;
    height: 100%; /* Ensure the column takes up enough height to center content vertically */
  }
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.bigInput {
  font-size: 16px;
}